<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add
    name="SchoolConnectionString1"
    connectionString="Data Source=DESKTOP-Q2BSH83;
    Initial Catalog=CustomerDB;
    Connect Timeout=30;"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>